@charset "UTF-8";

#container{
	display: flex;
	padding:30px;

}
.box1,.box2,.box3 {
  width: 300px;
  height:300px;
}
.box1{
	background:pink

}
.box2{
	background:#0080c0;

}
.box3{
	background:red;

}
